@font-face {
    font-family: "NeueMontreal";
    src: url("./media/fonts/NeueMontreal-Regular.woff2") format("woff2"),
    url("./media/fonts/NeueMontreal-Regular.woff") format("woff");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "NeueMontreal";
    src: url("./media/fonts/NeueMontreal-Italic.woff2") format("woff2"),
    url("./media/fonts/NeueMontreal-Italic.woff") format("woff");
    font-weight: 400;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "NeueMontreal";
    src: url("./media/fonts/NeueMontreal-Medium.woff2") format("woff2"),
    url("./media/fonts/NeueMontreal-Medium.woff") format("woff");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "NeueMontreal";
    src: url("./media/fonts/NeueMontreal-MediumItalic.woff2") format("woff2"),
    url("./media/fonts/NeueMontreal-MediumItalic.woff") format("woff");
    font-weight: 500;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "NeueMontreal";
    src: url("./media/fonts/NeueMontreal-Bold.woff2") format("woff2"),
    url("./media/fonts/NeueMontreal-Bold.woff") format("woff");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "NeueMontreal";
    src: url("./media/fonts/NeueMontreal-BoldItalic.woff2") format("woff2"),
    url("./media/fonts/NeueMontreal-BoldItalic.woff") format("woff");
    font-weight: 600;
    font-display: swap;
    font-style: italic;
}
